<html data-namespace-typo3-fluid="true" xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers">
    <header class="mb-3 text-center">
        <f:render arguments="{label: 'back_to_sign_in', pid: settings.defaultPid}" partial="HeaderIcon"/>
        <h1><f:translate extensionName="MrFelogin" id="change_password"/></h1>
    </header>
    <f:render partial="ValidationErrors"/>
    <div class="card">
        <div class="card-body">
            <f:form action="changePassword" data="{action: 'change-password'}" hiddenFieldClassName="d-none" novalidate="true">
                <div class="d-none">
                    <f:form.hidden name="hash" value="{hash}"/>
                </div>
                <div class="form-group">
                    <label for="pass1"><f:translate extensionName="MrFelogin" id="password"/> <span class="text-danger">*</span></label>
                    <f:form.password additionalAttributes="{autocomplete: 'off', autofocus: 'true', minlength: 8, required: 'true'}" class="form-control" data="{'toggle-password': 1}" id="pass1" name="newPass"/>
                </div>
                <div class="form-group">
                    <label for="pass2"><f:translate extensionName="MrFelogin" id="confirm_password"/> <span class="text-danger">*</span></label>
                    <f:form.password additionalAttributes="{autocomplete: 'off', minlength: 8, required: 'true'}" class="form-control" data="{'toggle-password': 1}" id="pass2" name="newPassRepeat"/>
                </div>
                <p class="m-0 text-danger" data-max-chars="{settings.newPasswordMinLength}"><small><f:format.raw><f:translate arguments="{0: settings.newPasswordMinLength}" extensionName="MrFelogin" id="change_password_minimum_chars"/></f:format.raw></small></p>
                <p class="text-danger" data-identical-passwords="1"><small><f:format.raw><f:translate arguments="{0: settings.newPasswordMinLength}" extensionName="MrFelogin" id="change_password_identical"/></f:format.raw></small></p>
                <f:form.button class="form-control btn btn-success" data="{loading-text: '{f:translate(extensionName: \'MrFelogin\', id: \'process\')}'}" name="submit">
                    <f:translate id="change_password"/>
                </f:form.button>
            </f:form>
            <f:render arguments="{label: 'back_to_sign_in', pid: settings.defaultPid}" partial="Back"/>
        </div>
    </div>
</html>
