<fieldset>
    <div>
        <label for="field_tx_cfgoogleauthenticator_onetimepassword">
            <f:translate key="LLL:EXT:cf_google_authenticator/Resources/Private/Language/locallang.xlf:otp" />
        </label>

        <f:form.textfield
            id="field_tx_cfgoogleauthenticator_onetimepassword"
            property="oneTimePassword"
        />
    </div>

    <f:if condition="{isEnabled}">
        <div>
            <span>
                <f:translate key="LLL:EXT:cf_google_authenticator/Resources/Private/Language/locallang.xlf:disableAuthenticator" />
            </span>
        </div>
    </f:if>

</fieldset>
