<?xml version="1.0" encoding="utf-8"?>
<root xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers">

    <fieldset>
        <div>
            <label for="field_tx_cfgoogleauthenticator_onetimepassword">
                <f:translate key="LLL:EXT:cf_google_authenticator/Resources/Private/Language/locallang.xlf:otp" />
            </label>

            <f:form.textfield
                id="field_tx_cfgoogleauthenticator_onetimepassword"
                property="oneTimePassword"
                pattern="[0-9]*"
                additionalAttributes="{inputmode: 'numeric', autocomplete: 'one-time-code'}"
            />
        </div>

        <f:if condition="{isEnabled}">
            <div>
                <span>
                    <f:translate key="LLL:EXT:cf_google_authenticator/Resources/Private/Language/locallang.xlf:disableAuthenticator" />
                </span>
            </div>
        </f:if>

    </fieldset>

</root>
