<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      data-namespace-typo3-fluid="true">

    <f:if condition="{hidden}">
        <f:then>
            <f:form.hidden
                id="field_tx_cfgoogleauthenticator_secret"
                property="secret"
            />
        </f:then>

        <f:else>
            <fieldset>
                <div>
                    <label for="field_tx_cfgoogleauthenticator_secret">
                        <f:translate key="secret" extensionName="cf_google_authenticator"/>
                    </label>
                    <f:form.textfield
                        id="field_tx_cfgoogleauthenticator_secret"
                        property="secret"
                        readonly="readonly"
                        class="{f:if(condition:'{settings.templatingFramework}==Bootstrap', then: 'form-control')}"
                    />
                </div>
                <div class="mt-3">
                    <span>
                        <f:translate key="storeSecret" extensionName="cf_google_authenticator"/>
                    </span>
                    <strong>
                        <f:translate key="recoverAuthenticator" extensionName="cf_google_authenticator"/>
                    </strong>
                </div>
            </fieldset>
        </f:else>
    </f:if>

</html>
