<f:if condition="{hidden}">
    <f:then>
        <f:form.hidden
            id="field_tx_cfgoogleauthenticator_secret"
            property="secret"
        />
    </f:then>

    <f:else>
        <fieldset>
            <div>
                <label for="field_tx_cfgoogleauthenticator_secret">
                    <f:translate key="LLL:EXT:cf_google_authenticator/Resources/Private/Language/locallang.xlf:secret" />
                </label>
                <f:form.textfield
                    id="field_tx_cfgoogleauthenticator_secret"
                    property="secret"
                    readonly="readonly"
                />
            </div>
            <div>
                <span>
                    <f:translate key="LLL:EXT:cf_google_authenticator/Resources/Private/Language/locallang.xlf:storeSecret" />
                </span>
                <strong>
                    <f:translate key="LLL:EXT:cf_google_authenticator/Resources/Private/Language/locallang.xlf:recoverAuthenticator" />
                </strong>
            </div>
        </fieldset>
    </f:else>
</f:if>
