<html data-namespace-typo3-fluid="true" xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers">
<header class="mb-3 text-center">
    <f:render arguments="{label: 'back_to_home', pid: settings.homePid}" partial="HeaderIcon" />
    <h1>
        <f:translate extensionName="MrFelogin" id="sign_in" />
    </h1>
</header>
<f:render arguments="{_all}" partial="Messaging/FlashMessages" />
<f:if condition="{messageKey} == 'error'">
    <f:if condition="{settings.useEmailAsUsername}">
        <f:then>
            <p class="alert alert-danger" role="alert">
                <f:translate extensionName="MrFelogin" id="incorrect_email_or_password" />
            </p>
        </f:then>
        <f:else>
            <p class="alert alert-danger" role="alert">
                <f:translate extensionName="MrFelogin" id="incorrect_password_or_username" />
            </p>
        </f:else>
    </f:if>
</f:if>
<div class="card">
    <div class="card-body">
        <f:form action="login" data="{action: 'sign-in'}" fieldNamePrefix="" hiddenFieldClassName="d-none" novalidate="true">
            <div class="d-none">
                <f:form.hidden name="logintype" value="login" />
                <f:if condition="{noRedirect} != ''">
                    <f:form.hidden name="noredirect" value="1" />
                </f:if>
                <f:form.hidden name="pid" value="{storagePid}" />
                <f:if condition="{redirectURL} != ''">
                    <f:form.hidden name="redirect_url" value="{redirectURL}" />
                </f:if>
                <f:if condition="{redirectReferrer} != ''">
                    <f:form.hidden name="redirectReferrer" value="off" />
                </f:if>
                <f:if condition="{referer} != ''">
                    <f:form.hidden name="referer" value="{referer}" />
                </f:if>
            </div>
            <div class="form-group">
                <f:if condition="{settings.useEmailAsUsername}">
                    <f:then>
                        <label for="user"><f:translate extensionName="MrFelogin" id="email"/> <span class="text-danger">*</span></label>
                        <f:form.textfield autofocus="true" class="form-control" id="user" name="user" required="true" tabindex="1" type="email" value="{user}" />
                    </f:then>
                    <f:else>
                        <label for="user"><f:translate extensionName="MrFelogin" id="username"/> <span class="text-danger">*</span></label>
                        <f:form.textfield autofocus="true" class="form-control" id="user" name="user" required="true" tabindex="1" value="{user}" />
                    </f:else>
                </f:if>
            </div>
            <div class="form-group">
                <label for="pass"><f:translate extensionName="MrFelogin" id="password"/> <span class="text-danger">*</span></label>
                <f:if condition="{settings.showForgotPassword}">
                    <f:link.action action="recovery" class="float-right small" controller="PasswordRecovery" rel="nofollow" tabindex="5">
                        <f:translate extensionName="MrFelogin" id="forgot_password" />
                    </f:link.action>
                </f:if>
                <f:form.password additionalAttributes="{autocomplete: 'off', minlength: 8, required: 'true'}" class="form-control" data="{toggle-password: 1}" id="pass" name="pass" tabindex="2" />
            </div>
            <div class="form-group">
                <!--<label for="google-authenticator-otp">###OTP_LABEL###</label>-->
                <input class="form-control" type="number" id="google-authenticator-otp" name="google-authenticator-otp" minlength="6" value="" placeholder="Google Authenticator Code" autocomplete="off" required="required" />
            </div>
            <f:if condition="{permaloginStatus} > -1">
                <div class="form-group">
                    <div class="form-check">
                        <f:if condition="{permaloginStatus} == 1">
                            <f:then>
                                <f:form.hidden additionalAttributes="{disabled: 'disabled'}" name="permalogin" value="0" />
                                <f:form.checkbox checked="checked" class="form-check-input" id="permalogin" name="permalogin" tabindex="3" value="1" />
                            </f:then>
                            <f:else>
                                <f:form.hidden name="permalogin" value="0" />
                                <f:form.checkbox class="form-check-input" id="permalogin" name="permalogin" tabindex="3" value="1" />
                            </f:else>
                        </f:if>
                        <label class="form-check-label" for="permalogin"><f:translate extensionName="MrFelogin" id="permalogin"/></label>
                    </div>
                </div>
            </f:if>
            <f:form.button class="btn btn-success form-control" data="{loading-text: '{f:translate(extensionName: \'MrFelogin\', id: \'process\')}'}" name="submit" tabindex="4">
                <f:translate extensionName="MrFelogin" id="sign_in" />
            </f:form.button>
            <f:render arguments="{label: 'back_to_home', pid: settings.homePid}" partial="Back" />
        </f:form>
    </div>
</div>

</html>