<html data-namespace-typo3-fluid="true" xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" xmlns:mrc="http://typo3.org/ns/Hemmer/MrCore/ViewHelpers">
    <f:form action="login" actionUri="{actionUri}" class="felogin" data="{action: 'sign-out'}" fieldNamePrefix="" hiddenFieldClassName="d-none">
        <div class="d-none">
            <f:form.hidden name="logintype" value="logout"/>
            <f:form.hidden name="pid" value="{storagePid}"/>
        </div>
        <mrc:fal as="avatar" data="{user}" table="fe_users">
            <f:if condition="{avatar.0}">
                <f:then>
                    <button aria-label="{f:translate(extensionName: 'MrFelogin', id: 'sign_out')}" class="page-icon nav-link" name="submit">
                        <f:image alt="{f:translate(extensionName: 'MrFelogin', id: 'sign_out')} - {user.username}" class="img-fluid" height="36c" image="{avatar.0}" loading="lazy" title="{f:translate(extensionName: 'MrFelogin', id: 'sign_out')} - {user.username}" width="40c"/>
                    </button>
                </f:then>
                <f:else>
                    <button aria-label="{f:translate(extensionName: 'MrFelogin', id: 'sign_out')}" class="page-icon nav-link" name="submit" title="{f:translate(extensionName: 'MrFelogin', id: 'sign_out')} - {user.username}">
                        <i aria-hidden="true" class="fas fa-sign-out-alt fa-s"></i>
                        <span>{f:translate(extensionName: 'MrFelogin', id: 'sign_out')}</span>
                    </button>
                </f:else>
            </f:if>
        </mrc:fal>
    </f:form>
</html>
