<f:layout name="Backend/Default" />

<f:section name="content">
    <f:be.pageRenderer includeRequireJsModules="{
        0:'TYPO3/CMS/CfGoogleAuthenticator/Backend/UserSettings'
    }"
    />

    <f:if condition="{googleAuthenticatorEnable} === false">
        <f:image src="{googleQrImageSrc}"
                 alt="{f:translate(key: 'LLL:EXT:cf_google_authenticator/Resources/Private/Language/locallang_be.xlf:googleQrImage')}"
                 title="Secret: {googleAuthenticatorSecret}"/>
    </f:if>

    <div class="form-control-wrap" style="max-width: 360px">
        <f:if condition="{googleAuthenticatorEnable} === false">
            <label class="t3js-formengine-label">
                <f:translate key="LLL:EXT:cf_google_authenticator/Resources/Private/Language/locallang_be.xlf:secret" />
            </label>
            <f:form.textfield
                    id="field_tx_cfgoogleauthenticator_secret"
                    name="data[{table}][{uid}][tx_cfgoogleauthenticator_secret]"
                    value="{googleAuthenticatorSecret}"
                    class="form-control t3js-formengine-validation-marker t3js-formengine-palette-field"
                    readonly="readonly"
            />
            <div>
                <span>
                    <f:translate key="LLL:EXT:cf_google_authenticator/Resources/Private/Language/locallang_be.xlf:storeSecret" />
                </span>
                <strong>
                    <f:translate key="LLL:EXT:cf_google_authenticator/Resources/Private/Language/locallang_be.xlf:recoverAuthenticator" />
                </strong>
            </div>
        </f:if>

        <label class="t3js-formengine-label">
            <f:translate key="LLL:EXT:cf_google_authenticator/Resources/Private/Language/locallang_be.xlf:otp" />
        </label>
        <f:form.textfield
                id="field_tx_cfgoogleauthenticator_otp"
                name="data[{table}][{uid}][tx_cfgoogleauthenticator_otp]"
                class="form-control t3js-formengine-validation-marker t3js-formengine-palette-field"
        />
        <f:if condition="{googleAuthenticatorEnable}">
            <div>
                <span>
                    <f:translate key="LLL:EXT:cf_google_authenticator/Resources/Private/Language/locallang_be.xlf:disableAuthenticator" />
                </span>
            </div>
        </f:if>
    </div>
</f:section>