<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      data-namespace-typo3-fluid="true">

    <f:layout name="Backend/Default"/>

    <f:section name="main">

        <f:be.pageRenderer
            includeRequireJsModules="{
                0:'TYPO3/CMS/CfGoogleAuthenticator/Backend/UserSettings'
            }"
        />

        <div class="form-control-wrap" style="max-width: 360px">
            <f:if condition="{isEnabled}">
                <f:then>
                    <f:render
                        partial="Backend/Form/OneTimePassword"
                        arguments="{
                            prefix: prefix
                        }"
                    />

                    <div>
                        <span>
                            <f:translate key="LLL:EXT:cf_google_authenticator/Resources/Private/Language/locallang_be.xlf:disableAuthenticator"/>
                        </span>
                    </div>
                </f:then>
                <f:else>
                    <f:render
                        partial="Backend/Form/QrCode"
                        arguments="{
                            src: qrCodeUri,
                            secret: authenticatorSecret,
                            prefix: prefix
                        }"
                    />
                    <f:render
                        partial="Backend/Form/Secret"
                        arguments="{
                            secret: authenticatorSecret,
                            prefix: prefix
                        }"
                    />
                    <f:render
                        partial="Backend/Form/OneTimePassword"
                        arguments="{
                            prefix: prefix
                        }"
                    />
                </f:else>
            </f:if>
        </div>

    </f:section>

</html>
