<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      data-namespace-typo3-fluid="true">

    <label class="t3js-formengine-label">
        <f:translate key="LLL:EXT:cf_google_authenticator/Resources/Private/Language/locallang_be.xlf:secret" />
    </label>

    <f:form.textfield
        id="field_tx_cfgoogleauthenticator_secret"
        name="data{prefix}[tx_cfgoogleauthenticator_secret]"
        value="{secret}"
        class="form-control t3js-formengine-validation-marker t3js-formengine-palette-field"
        readonly="readonly"
    />

    <div>
        <span>
            <f:translate key="LLL:EXT:cf_google_authenticator/Resources/Private/Language/locallang_be.xlf:storeSecret" />
        </span>
        <strong>
            <f:translate key="LLL:EXT:cf_google_authenticator/Resources/Private/Language/locallang_be.xlf:recoverAuthenticator" />
        </strong>
    </div>

</html>
